.vehiculo-item {
  --padding-top: 12px;
  --padding-bottom: 12px;
  margin: 0 12px 10px 12px;
  border-radius: 12px;
  --background: var(--ion-color-light);
}

.vehiculo-avatar {
  width: 48px;
  height: 48px;
  background: var(--ion-color-primary-tint);
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    font-size: 26px;
    color: var(--ion-color-primary-contrast);
  }
}

ion-label h2 {
  font-weight: 600;
}

ion-badge {
  margin-top: 4px;
}
