<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Vehículos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="ion-padding-top" lines="none">
    @for (vehiculo of misVehiculos(); track vehiculo.id; let index = $index) {
    <ion-item-sliding>
        <ion-item (click)="validarVehiculo(vehiculo)" class="vehiculo-item" button detail="false">
          <ion-avatar slot="start" class="vehiculo-avatar">
            <ion-icon name="car-sport"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>{{ vehiculo.marca }} {{ vehiculo.modelo }}</h2>
            <p>Placa: {{ vehiculo.placa }} &middot; Año {{ vehiculo.anio }}</p>
            <ion-badge color="tertiary">{{ vehiculo.kilometrajeActual }} km</ion-badge>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="editarVehiculo(vehiculo)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="eliminarVehiculo(vehiculo)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    } @empty {
      <div class="empty-state">
        <ion-icon name="car-sport-outline"></ion-icon>
        <h2>Aún no tienes vehículos</h2>
        <p>Toca el botón "+" para registrar el primero.</p>
      </div>
    }
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarVehiculo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
EOF
