<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Vehículos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="ion-padding-top" lines="none">
    @for (vehiculo of misVehiculos(); track vehiculo.id) {
      <app-vehiculo-card
        [vehiculo]="vehiculo"
        (verHistorial)="verHistorial($event)"
        (editar)="editarVehiculo($event)"
        (eliminar)="eliminarVehiculo($event)">
      </app-vehiculo-card>
    } @empty {
      <div class="empty-state">
        <ion-icon name="car-sport-outline"></ion-icon>
        <h2>Aún no tienes vehículos</h2>
        <p>Toca el botón "+" para registrar el primero.</p>
      </div>
    }
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarVehiculo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
